@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
  }

  body{
    font-size: 1.3rem;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(../IMG/SãoPaulo.jpg);
  }

  h2{ 
    font-family: 'Cinzel', serif;
    background-color: #ff0000;
    color: rgb(0, 0, 0);
    border-radius: 35px;
    margin-top: 10px;
}

.principal {
    text-align: center;
    padding: 0 35%;
    padding-top: 2%;
  }
  
  fieldset label, input{
    width: 93%;
  }
  
  .botao1{
    background-color: #8ee745b9;
    font-size: 1rem;
    font-family: 'Cinzel', serif;
    font-weight: bolder;
    padding: 0 20px;
    margin: 3% 1%;
    border: 2px solid #000000b9;
    transition: 0.5s;
    border-radius: 5px;
  }
  .botao1:hover{
    background-color:transparent;
    color: rgb(255, 0, 0);
    font-weight: bolder;
    transform: scale(115%);
  }
  
  .botao2{
    background-color: #e74545b9;
    font-size: 1rem;
    font-family: 'Cinzel', serif;
    font-weight: bolder;
    padding: 0 10px;
    margin: 3% 0;
    border: 2px solid #000000b9;
    border-radius: 5px;
    transition: 0.5s;
  }
  .botao2:hover{
    background-color:transparent;
    color: #70fa00;
    font-weight: bolder;
    transform: scale(115%);
  }
  
  
  fieldset {
    margin-top: 1%;  
    background-color: #fde512f6;
    color: #000000; 
    padding-bottom: 2%;
  }
  
  
  legend{
    margin-bottom: 0 15px;
    font-weight: 900;
  }
  
  .pontoInteresse{
    margin-top: 2.12vh;
  }

  .idades{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 70px;
  }

  .caixa{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-right:  50px;
  }

  .opcoes{
    margin: 10px;
  }

  .dados{
    transition: 0.5s;
  }

  .dados:hover{
    transform: scale(105%);
    display: block;
  }

  #boxflex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

